<div class="row">
  <div class="col-12">
    <img src="/assets/img/burger.png" alt="burger">
  </div>
</div>
<br>

<div class="row">
  <div class="col-4">
    <div class="row">
      <div class="col-9 offset-3">
        <h5 class="text-center"><strong>Burgers Ordered</strong></h5>
        {{#each burgers}}
        {{#unless devoured}}
        <p class="text-center">
          {{burger_name}}
          <button class="devourBurgerButton btn-sm btn-success" data-id="{{id}}" data-newdevoured="{{devoured}}">
            {{#if devoured}}{{else}}Devour!{{/if}}
          </button>
        </p>
        {{/unless}}
        {{/each}}
      </div>
    </div>
  </div>

  <div class="col-4">
    <form class="newBurgerForm">
      <input type="text" class="form-control text-center" id="newBurgerInput" name="burger_name"
        placeholder="Type Burger Name Here">
      <br>
      <button type="submit" id="addButton" class="btn-sm btn-danger">Order Burger</button>
    </form>
  </div>

  <div class="col-4">
    <div class="row">
      <div class="col-8">
        <h5 class="text-center"><strong>Burgers Devoured</strong></h5>
        {{#each burgers}}
        {{#if devoured}}
        <p class="text-center">{{burger_name}}</p>
        {{/if}}
        {{/each}}
      </div>
    </div>
  </div>